# ===============================

# Node.js

# ===============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================

# Environment variables

# ===============================


# ===============================

# Logs

# ===============================

logs/
*.log

# ===============================

# Build output

# ===============================

dist/
build/
out/

# ===============================

# Coverage

# ===============================

coverage/
.nyc_output/

# ===============================

# Runtime data

# ===============================

pids/
*.pid
*.seed
*.pid.lock

# ===============================

# OS / Editor

# ===============================

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ===============================

# Upload / Temp files

# ===============================

uploads/
tmp/
temp/

# ===============================

# Database

# ===============================

*.sqlite
*.db

# ===============================

# Docker

# ===============================

docker-data/
docker-volume/

# ===============================

# Misc

# ===============================

*.tgz
*.tar.gz
.cache/
.eslintcache
